*{
    margin: 0;
    padding: 0;
}
/* shared class */
.btn-warning{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 18px;
    font-weight: bold;
    font-size: 15px;
}
.secondary-bg-color{
    background-color: #FFF8F3;
}
.txt-dark{
    color: #474747;
}
.section-title{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
}
/* Header section */
header{
    background-image: url(./images/developer.png) , url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position:top left, bottom right;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding-top: 30px;
}
nav h3{
    font-weight: bolder;
    font-size: 45px;
}
nav span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
}
/* banner */
.banner{
    display: flex;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 200px;
}
.banner-content h4{
    font-weight: 400;
    font-size: 40px;
}
.banner-content h1{
    font-weight: bold;
    font-size: 60px;
}
.banner-content p{
    margin: 25px 0;
}
.banner-content button{
    margin-right: 20px;
}

/* About me section */
.about-me{
    text-align: center;
    border-radius: 30px;
    margin: 50px 180px;
    padding: 70px 100px;
}
.my-description{
    margin: 20px 0;
}
.about-items{   
    display: flex;
    justify-content: space-between;
}
.item-description{
    font-weight: bold;
    font-size: 18px;
}
/* footer section */
footer{
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 100px 200px;
}
.footer-column, form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.social-links{
    display: flex;
    gap: 20px;
}
.form input{
    height: 40px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 10px;
}
.form label{
    font-weight: bold;
}
.form textarea{
    border: 1px solid gray;
    border-radius: 10px;
    height: 90px;
    width: 400px;
    padding: 10px;
}